{% load staticfiles i18n %}
{% load compress %}
<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Mapa Guarani Digital{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block css %}
        {% compress css %}
            <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
            <link rel="stylesheet" href="{% static 'leaflet/dist/leaflet.css' %}">
            <link rel="stylesheet" href="{% static 'leaflet.markercluster/dist/MarkerCluster.css' %}">
            <link rel="stylesheet" href="{% static 'leaflet.markercluster/dist/MarkerCluster.Default.css' %}">
            <!-- This file store project specific CSS -->
            <link rel="stylesheet" href="{% static 'sass/main.scss' %}" media="screen, projection" rel="stylesheet" type="text/x-scss">
        {% endcompress %}
    {% endblock %}
    {% block javascript %}
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB89T4uE1P-WRJCPTLwdlOA7bbLHmvIkC4" async defer></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111503189-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-111503189-1');
        </script>
        {% compress js %}
            <script src="{% static 'jquery/dist/jquery.js' %}"></script>
            <script src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
            <script src="{% static 'underscore/underscore.js' %}"></script>

            <script src="{% static 'angular/angular.js' %}"></script>
            <script src="{% static 'angular-resource/angular-resource.js' %}"></script>
            <script src="{% static 'angular-sanitize/angular-sanitize.js' %}"></script>
{#            <script src="{% static 'angular-ui-router/release/angular-ui-router.js' %}"></script>#}
            <script src="{% static 'leaflet/dist/leaflet.js' %}"></script>
            <script src="{% static 'Leaflet.GridLayer/Leaflet.GoogleMutant.js' %}"></script>
            <script src="{% static 'leaflet.markercluster/dist/leaflet.markercluster-src.js' %}"></script>
            <script src="{% static 'Leaflet.utfgrid/dist/leaflet.utfgrid.js' %}"></script>
        {% endcompress %}
        <script src="//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>

      {# <script src="{% static 'leaflet-tilelayer-geojson/TileLayer.GeoJSON.js' %}"></script> #}

    {% block angular %}
      <script src="{% url 'djangular' %}"></script>
    {% compress js %}
      <script src="{% static 'js/app.js' %}"></script>
      <script src="{% static 'js/filters.js' %}"></script>
      <script src="{% static 'js/directives.js' %}"></script>
      <script src="{% static 'js/controllers.js' %}"></script>
      <script src="{% static 'js/services.js' %}"></script>
    {% endcompress %}
    {% endblock angular %}

    {% endblock javascript %}
  </head>

  <body ng-app="mapaguarani">
  {% block content %}
{#    <div class="header navbar">#}
{#      <div class="container">#}
{#        <a class="navbar-brand" href="/">django-template</a>#}
{#        <ul class="nav navbar-nav">#}
{#          <li class="active"><a href="{% url 'home' %}">Home</a></li>#}
{#          <li><a href="{% url 'about' %}">About</a></li>#}

{#          {% if request.user.is_authenticated %}#}
{#            <li><a href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a></li>#}
{#            <li><a href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>#}
{#          {% else %}#}
{#            <li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>#}
{#            <li><a href="{% url 'account_login' %}">{% trans "Log In" %}</a></li>#}
{#          {% endif %}#}
{#        </ul>#}
{#      </div>#}
{#    </div>#}
    {% endblock content %}
    {% block modal %}{% endblock modal %}
  </body>
</html>
