{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block content %}
<div class="map-container" ng-controller="MainCtrl">
  <div class="navbar navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-icon-container">
          <a href="#" class="navbar-icon pull-right visible-xs" id="nav-btn"><i class="fa fa-bars fa-lg white"></i></a>
          <a href="#" class="navbar-icon pull-right visible-xs" id="sidebar-toggle-btn"><i class="fa fa-search fa-lg white"></i></a>
        </div>
        <a class="navbar-brand" ui-sref="home" ui-sref-opts="{reload: true, inherit: false}">Mapa Guarani Digital</a>
      </div>
      <div class="navbar-collapse navbar-right collapse">
        <ul class="nav navbar-nav">

          <li>
              {% if not user.is_authenticated %}
              <!-- <a href="" data-toggle="modal" data-target="#login-modal" id="login-btn"><i class="fa fa-user"></i>&nbsp;&nbsp;Entrar</a> -->
              <a href="{% url 'admin:login' %}" id="login-btn"><i class="fa fa-user"></i>&nbsp;&nbsp;Entrar</a>
              {% elif user.is_staff %}
              <a href="{% url 'admin:login' %}" target="_blank" id="login-btn"><i class="fa fa-user"></i>&nbsp;&nbsp;Administrar</a>
              {% else %}
              <a href="#" id="login-btn"><i class="fa fa-user"></i>&nbsp;&nbsp;{{ request.user.username }}</a>
              {% endif %}
          </li>
          <li>
            <a href="" data-toggle="modal" data-target="#reportsModal" id="about-btn">
              <i class="fa fa-question-circle white"></i>&nbsp;&nbsp;Relatórios
            </a>
          </li>
          <li>
            <a href="" data-toggle="modal" data-target="#aboutModal" id="about-btn">
              <i class="fa fa-question-circle white"></i>&nbsp;&nbsp;Sobre
            </a>
          </li>
        </ul>
      </div><!--/.navbar-collapse -->
    </div>
  </div>

  <div id="container">
    <div id="sidebar" ng-class="menuIsClosed ? 'closed' : 'open'">
      <div ui-view></div>
    </div>
    <div class="button-menu menu-close" ng-click="menuIsClosed = true">
      <span class="bubble">
        <i class="fa fa-caret-left"></i>
      </span>
    </div>
    <div class="button-menu menu-open" ng-click="menuIsClosed = false">
      <span class="text">Menu</span>
      <span class="bubble">
        <i class="fa fa-caret-right"></i>
      </span>
    </div>
    <guarani-map id="map"></guarani-map>
  </div>
  <div id="mapaguarani-loading" loading>
    <h1>Mapa Guarani Digital</h1>
    <h2>Carregando dados....</h2>
  </div>
</div>
{% endblock content %}

{% block modal %}

{# {% include 'modal-login.html' %} #}

<div class="modal fade" id="reportsModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Relatórios sobre as Terras Indígenas</h4>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" id="aboutTabs">
          {% if user.is_authenticated %}
          <li class="active"><a href="#tijuridic" data-toggle="tab">Quadro Resumo das Terras Indígenas Guarani no Sul e Sudeste do Brasil</a></li>
          {% endif %}
          <li {% if not user.is_authenticated %} class="active" {% endif %}><a href="#titable" data-toggle="tab">Tabela de Terras Indígenas</a></li>
        </ul>
        <div class="tab-content" id="aboutTabsContent">
          {% if user.is_authenticated %}
          <div id="tijuridic"
               ng-controller="LandTenureReportCtrl"
               class="tab-pane fade active in">
            <h3 class="text-center">Quadro Resumo das Terras Indígenas Guarani no Sul e Sudeste do Brasil</h3>
            <table class="table">
              <thead>
                <tr>
                  <th rowspan="2"></th>
                  <th rowspan="2">Situação</th>
                  <th rowspan="2">Total de terras</th>
                  <th colspan="6">Total de terras por estado</th>
                </tr>
                <tr>
                  <th ng-repeat="state in report.states" ng-bind="state"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td>TIs com Uso Exclusivo dos Guarani</td>
                  <td ng-bind="report.exclusive_guarani_lands_count"></td>
                  <td ng-repeat="state in report.states" ng-bind="report.exclusive_guarani_lands[state]"></td>
                </tr>
                <tr>
                  <td></td>
                  <td>TIs de Outros povos com Presença Guarani</td>
                  <td ng-bind="report.non_exclusive_guarani_lands_count"></td>
                  <td ng-repeat="state in report.states" ng-bind="report.non_exclusive_guarani_lands[state]"></td>
                </tr>
                <tr>
                  <td></td>
                  <td>Antigas aldeias, locais de uso ou áreas esbulhada</td>
                  <td ng-bind="report.no_guarani_presence_count"></td>
                  <td ng-repeat="state in report.states" ng-bind="report.no_guarani_presence[state]"></td>
                </tr>
                <tr>
                  <td></td>
                  <td>Tota Geral</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td><span style="color: transparent;">&#x2b24;</span></td>
                  <td>  </td>
                  <td>  </td>
                  <td>  </td>
                  <td>  </td>
                  <td>  </td>
                  <td>  </td>
                  <td>  </td>
                  <td>  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <th></th>
                  <th>Áreas de uso exclusivo dos Guarani</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr ng-repeat="tenure in tenures">
                  <td><span ng-style="{'color': t.map_color || 'transparent'}">&#x2b24;</span></td>
                  <td ng-bind="tenure.name"></td>
                  <td ng-bind="tenure.total_lands_count"></td>
                  <td ng-repeat="state in report.states" ng-bind="tenure[state]"></td>
                </tr>
                <tr>
                  <td><span style="color: transparent;">&#x2b24;</span></td>
                  <td>  </td>
                  <td>  </td>
                  <td>  </td>
                  <td>  </td>
                  <td>  </td>
                  <td>  </td>
                  <td>  </td>
                  <td>  </td>
                </tr>
                <tr ng-repeat="tenure in tenures_2nd_block">
                  <td><span ng-style="{'color': t.map_color || 'transparent'}">&#x2b24;</span></td>
                  <td ng-bind="tenure.name"></td>
                  <td ng-bind="tenure.total_lands_count"></td>
                  <td ng-repeat="state in report.states" ng-bind="tenure[state]"></td>
                </tr>
              </tbody>
              <tfooter>
                <tr>
                  <th></th>
                  <th>Total final</th>
                  <th ng-bind="report.exclusive_guarani_lands_count"></th>
                  <th ng-repeat="state in report.states" ng-bind="report.exclusive_guarani_lands[state]"></th>
                </tr>
              </tfooter>
            </table>
          </div>
          {% endif %}

          <div id="titable" class="tab-pane fade {% if not user.is_authenticated %} active in {% endif %}">
            <p class="text-center">Você pode baixar a planilha das terras indigenas, e os shapefiles das camadas de Aldeias e Terras Indígenas</p>
            <p class="text-center">A geração destes arquivos pode demorar vários minutos, por favor aguarde o download começar após clicar abaixo no arquivo abaixo desejado.</p>

            <p class="lead text-left">
              Arquivos Terras Indígenas
              <a class="btn btn-lg btn-success" href="{% url 'export_xls_lands' %}.xls">baixar Planilha Excel</a>
              {% if user.is_authenticated %}
              <a class="btn btn-lg btn-success" href="{% url 'lands_shapefiles' %}">baixar Shapefile</a>
              {% endif %}
            </p>

            <p class="lead text-left">
              Arquivos Aldeias Indígenas
              <a class="btn btn-lg btn-success" href="{% url 'export_xls_villages' %}.xls">baixar Planilha Excel</a>
              {% if user.is_authenticated %}
              <a class="btn btn-lg btn-success" href="{% url 'villages_shapefiles' %}">baixar Shapefile</a>
              {% endif %}
            </p>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% include 'modals/about-modal.html' %}

{% endblock modal %}
