{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block content %}
<div class="map-container" ng-controller="MainCtrl">
  <div class="navbar navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-icon-container">
          <a href="#" class="navbar-icon pull-right visible-xs" id="nav-btn"><i class="fa fa-bars fa-lg white"></i></a>
          <a href="#" class="navbar-icon pull-right visible-xs" id="sidebar-toggle-btn"><i class="fa fa-search fa-lg white"></i></a>
        </div>
        <a class="navbar-brand" ui-sref="home" ui-sref-opts="{reload: true, inherit: false}">Mapa Guarani Digital</a>
      </div>
      <div class="navbar-collapse navbar-right collapse">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'admin:login' %}" id="login-btn"><i class="fa fa-user"></i>&nbsp;&nbsp;Entrar</a></li>
          <li><a href="javascript:void(0);" data-toggle="modal" data-target="#reportsModal" id="about-btn"><i class="fa fa-question-circle white"></i>&nbsp;&nbsp;Relatórios</a></li>
          <li><a href="javascript:void(0);" data-toggle="modal" data-target="#aboutModal" id="about-btn"><i class="fa fa-question-circle white"></i>&nbsp;&nbsp;Sobre</a></li>
        </ul>
      </div><!--/.navbar-collapse -->
    </div>
  </div>

  <div id="container">
    <div id="sidebar" ng-class="menuIsClosed ? 'closed' : 'open'">
      <div ui-view></div>
    </div>
    <div class="button-menu menu-close" ng-click="menuIsClosed = true">
      <span class="bubble">
        <i class="fa fa-caret-left"></i>
      </span>
    </div>
    <div class="button-menu menu-open" ng-click="menuIsClosed = false">
      <span class="text">Menu</span>
      <span class="bubble">
        <i class="fa fa-caret-right"></i>
      </span>
    </div>
    <guarani-map id="map"></guarani-map>
  </div>
  <div id="mapaguarani-loading" loading>
    <h1>Mapa Guarani Yvyrupa</h1>
    <h2>Carregando dados....</h2>
  </div>
</div>
{% endblock content %}

{% block modal %}
<div class="modal fade" id="reportsModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" ng-controller="LandTenureReportCtrl">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Relatórios sobre as Terras Indígenas</h4>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" id="aboutTabs">
          <li class="active"><a href="#tijuridic" data-toggle="tab">Situação Jurídica</a></li>
          <li><a href="#titable" data-toggle="tab">Tabela de Terras Indígenas</a></li>
        </ul>
        <div class="tab-content" id="aboutTabsContent">
          <div id="tijuridic" class="tab-pane fade active in">
            <table class="table">
              <thead>
                <tr>
                  <th rowspan="2"></th>
                  <th rowspan="2">Situação</th>
                  <th rowspan="2">Total de terras</th>
                  <th colspan="6">Total de terras por estado</th>
                </tr>
                <tr>
                  <th>ES</th>
                  <th>PR</th>
                  <th>RJ</th>
                  <th>RS</th>
                  <th>SC</th>
                  <th>SP</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="t in tenures">
                  <td><span ng-style="{'color': t.map_color || 'transparent'}">&#x2b24;</span></td>
                  <td ng-bind="t.name"></td>
                  <td ng-bind="t.total_lands_count"></td>
                  <td ng-bind="t.es_lands_count">3</td>
                  <td ng-bind="t.pr_lands_count">4</td>
                  <td ng-bind="t.rj_lands_count">5</td>
                  <td ng-bind="t.rs_lands_count">6</td>
                  <td ng-bind="t.sc_lands_count">7</td>
                  <td ng-bind="t.sp_lands_count">8</td>
                </tr>
              </tbody>
              <tfooter>
                <tr>
                  <th></th>
                  <th>Total final</th>
                  <th ng-bind="tenures_sum('total_lands_count')"></th>
                  <th ng-bind="tenures_sum('es_lands_count')">2</th>
                  <th ng-bind="tenures_sum('pr_lands_count')">3</th>
                  <th ng-bind="tenures_sum('rj_lands_count')">4</th>
                  <th ng-bind="tenures_sum('rs_lands_count')">5</th>
                  <th ng-bind="tenures_sum('sc_lands_count')">6</th>
                  <th ng-bind="tenures_sum('sp_lands_count')">7</th>
                </tr>
              </tfooter>
            </table>
          </div>

          <div id="titable" class="tab-pane fade">
            <hr/>
            <p class="lead text-center">Você pode baixar a planilha das terras indigenas</p>
            <p class="text-center">
              <a class="btn btn-lg btn-success" href="{% url 'export_villages' %}">Baixar</a>
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Sobre Mapa Guarani Yvyrupa</h4>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" id="aboutTabs">
          <li class="active"><a href="#apresentacao" data-toggle="tab">Apresentação</a></li>
          <li><a href="#ficha" data-toggle="tab">Ficha Técnica</a></li>
        </ul>
        <div class="tab-content" id="aboutTabsContent">
          <div id="apresentacao" class="tab-pane fade active in">
            <p>Desde o final da década de 1970, o Centro de Trabalho Indigenista (CTI) vem mapeando
            as aldeias Guarani, com ênfase no Sul e no Sudeste do Brasil (1) . Percorrendo com os índios os caminhos
            que levavam às suas aldeias e a lugares perdidos ou sonhados, as fontes primeiras vieram dos relatos
            de vida permeados de menções a diferentes localidades, no Brasil e nos países vizinhos por onde se
            estende a terra designada Yvyrupa (2) . Ao longo do tempo, elaboramos e disponibilizamos diversas
            versões de quadros e mapas das Terras Guarani, que contribuíram para uma melhor compreensão da
            complexa territorialidade desse povo e para o acompanhamento dos procedimentos de regularização
            de suas terras distribuídas em seu território tradicionalmente ocupado.</p>

            <p>Foi apenas no final da década de 1980 que algumas Terras Guarani, em São Paulo e no Rio
            Grande do Sul, começaram a ser regularizadas a partir das reivindicações dos próprios índios.
            Apoiando esse processo, o CTI amplia suas pesquisas e, a partir dos anos 1990, passou a agregar,
            além das informações de nossos interlocutores guarani, dados da Funai e de pesquisadores do Sul
            e Sudeste do Brasil. O diálogo permanente com esses colaboradores levou-nos a realizar diferentes
            formas de sistematização, sendo que as informações coligidas estão contempladas e atualizadas na
            edição que ora publicamos e que consiste no mapeamento das Terras Guarani por regiões, acoplado
            a um quadro associado contendo informações relativas à situação fundiária de cada Terra Indígena.
            Para esta nova edição, elaborada pelo CTI em parceria com a Comissão Guarani Yvyrupa, nos
            dedicamos ao trabalho de inserir todos os pontos e polígonos das aldeias e terras indígenas compiladas
            a partir de 1980 em uma base de dados georreferenciada que servirá para novos desdobramentos
            deste trabalho.</p>

            <p>No Sul e Sudeste, ao total, foram levantadas 258 aldeias, incluindo, além das 153 que se
            encontram habitadas, 105 aldeias antigas, locais de uso ou áreas esbulhadas (3) . Sobre estas últimas,
            as fontes de informação vieram da memória viva dos Guarani reunidas por nós e por nossos
            parceiros e colaboradores. Não foram os documentos históricos, ou referências arqueológicas que
            pautaram esse levantamento, embora certamente esses coincidam em muito com a memória oral
            dos Guarani, vindo a referendá-la. Dessa forma, esse levantamento não reflete apenas um território
            histórico de ocupação Guarani em oposição ao que seria a sua ocupação tradicional atual; todas as
            localidades levantadas, tanto as ocupadas atualmente como as “de antigamente”, são constitutivas
            da territorialidade guarani, uma vez que sua forma de relacionamento com o espaço é orientada pela
            memória oral.</p>

            <p>Em relação às aldeias antigas, em se tratando de história oral constituída por uma série de
            testemunhos de distintas parentelas, estamos diante de um levantamento que é e será sempre
            inevitavelmente incompleto, por duas razões. Primeiro porque mesmo tendo os Guarani indicado
            locais de ocupações mais antigas que ocorreram em alguns casos até o início do século XX, as
            fontes foram sempre a memória de indígenas com quem mantivemos contato apenas a partir do
            final da década de 1970. Segundo porque cada grupo local tem sua própria história de ocupação,
            tendo habitado localidades distintas e nunca será possível reconstituir a história de todas elas. Na
            medida em que avançávamos, enriquecendo o levantamento com testemunhos distintos, outras
            vozes se calavam para sempre, pela morte ou pelo esquecimento. Por todas essas razões, dada a
            incompletude dos dados inerente a esse tipo de trabalho, tivemos cautela na divulgação.</p>

            <p>Além disso, representações gráficas, sejam mapas ou quadros, são sempre reduções esquemáticas
            que nunca poderão refletir a realidade por demais complexa implicada nas territorialidades indígenas,
            que envolvem tanto a cosmologia, como a organização social e política, em embate com uma história
            violenta de colonização por parte da sociedade nacional. Mesmo assim, esses mapas e quadros, em seu
            conjunto, permitem uma visualização melhor de uma dinâmica na qual cada aldeia guarani atualmente
            ocupada é cercada por uma série de outros pontos de ocupação pretérita, menos ou mais recentes,
            dos quais a história de cada aldeia é tributária. Contribui para o entendimento de que a territorialidade
            guarani se realiza a partir das redes de relações que ligam todos esses pontos mapeados, e muitos
            outros perdidos na história recente, e não apenas em cada um desses pontos isoladamente.</p>

            <p>Quando iniciou esse trabalho, o CTI testemunhou uma aversão dos Guarani, em especial dos
            mais velhos, em relação à imposição de limites arbitrários à suas terras, que entendiam como uma
            coerção a sua liberdade, por parte dos órgãos oficiais. Essa peculiaridade expressa uma história de
            violências de que foram vítimas, marcada por remoções impostas, regimes de trabalho forçado e
            uma série de outros abusos cometidos no período de atuação do Serviço de Proteção dos Índios
            (SPI) e da Fundação Nacional do Índio (Funai) no regime militar. Essa atitude pode ser entendida
            como marca da resistência guarani na luta pela preservação de sua territorialidade, e não deve ser
            confundida como aversão à demarcação de terras em si.</p>

            <p>Além de reunir informações sobre a situação jurídica das terras indígenas num determinado
            período, os quadros e os mapas das terras indígenas, apesar de sua natureza esquemática, servem
            como meio de verificação das normas institucionais 5 e das diligências e investimentos políticos do
            governo em relação à regularização das Terras Indígenas, e para o conhecimento de um público maior.
            O Quadro Resumo das Terras Indígenas Guarani no Sul e Sudeste do Brasil, que consta deste
            Atlas, revela que quase tudo ainda há por fazer no que concerne à regularização das terras ocupadas
            pelo povo guarani nessas regiões. Dão 153 terras ocupadas atualmente, apenas 17 estão plenamente
            regularizadas para seu uso exclusivo e, somadas em conjunto, não totalizam nem 30.000 hectares,
            para uma população de mais de 13.000 guaranis.</p>

            <p>Nos últimos anos, entretanto, apesar do interminável e conflituoso processo de regularização de
            suas Terras, os Guarani vem ampliando seus movimentos por reconhecimento de direitos territoriais
            por meio de mobilizações, de manifestações direcionadas à Funai, ao Ministério Público Federal (MPF),
            ao Ministério da justiça (MJ) e a outras instituições, e de ações de articulação entre suas comunidades
            promovidas, em grande parte, pela Comissão Guarani Yvyrupa (CGY). Foram essas iniciativas que nos
            motivaram a realizar uma sistematização mais apurada das informações a respeito das Terras Guarani,
            de modo a transformá-las em instrumento para os próprios Guarani em suas reivindicações.</p>

            <p>Esperamos que o resultado trazido a público nesse Atlas das Terras Guarani no Sul e Sudeste do
            Brasil – 2015, embora incontornavelmente provisório, estimule novas pesquisas sobre a territorialidade
            dos povos indígenas. Sobretudo, esperamos que contribua para a luta dos Guarani na garantia
            de espaços para composição das aldeias que sustentam sua mobilidade nas suas mais diversas
            acepções, num território ao mesmo tempo fragmentado espacialmente, mas indivisível sociológica e
            cosmologicamente.</p>

            <p>1 Nas regiões Sul e Sudeste, os Guarani, em sua maioria, são falantes do dialeto mbya, com um contingente considerável também de falantes dos dialetos
            nhandéva, ava-guarani e tupi. Fazem parte de uma densa rede de relações que atinge a região oriental do Paraguai e a província argentina de Misiones.</p>
            <p>2 Yvyrupa designa o mundo terrestre habitado, e é o termo que melhor expressa a noção guarani de território. Numa tradução literal, pode ser entendido
            como suporte ou plataforma terrestre: Yvy (Terra) tupa (leito, esteio, base).</p>
            <p>3 As ocupações dos grupos guarani cuja trajetória de vida, a partir do início do século XX, levou-os a ocuparem pequenas áreas em fazendas e em Terras
            Indígenas de outros povos, no Mato Grosso, Tocantins, Maranhão e Pará, também constam desta edição, em mapa anexo, mas não estão contabilizadas
            no quadro resumo. Embora falantes do dialeto mbya, foi somente a partir da década de 1980 que essas famílias conheceram comunidades guarani no
            Sudeste do país, com as quais constituíram novas relações. Nos anos 1990, o CTI apoiou o processo de conquista de direitos para obterem uma terra
            exclusiva para os Guarani, no município de Jacundá, PA.</p>
            <p>4 A legislação específica que rege atualmente os trabalhos de identificação e delimitação de Terras Indígenas é composta do artigo 231 da Constituição
            Federal de 1988, do decreto 1775 de 08 de Janeiro de 1996 e da Portaria 14 de 09 de Janeiro de 1996, bem como pela lei no6001/1973.</p>
          </div>

          <div id="ficha" class="tab-pane fade">
            <h4>Atlas das Terras Guarani no Sul e Sudeste do Brasil</h4>
            <h5>Oraganização e Edição</h5>
            <p>Camila Salles, Daniel Pierri, Eliza Castilla e Maria Inês Ladeira</p>

            <h5>Geoprocessamento</h5>
            <p>Camila Salles</p>

            <h5>Levantamento de dados</h5>
            <p>Camila Salles, Daniel Pierri, Eliza Castilla e Maria Inês Ladeira</p>

            <h5>Contribuições</h5>
            <p>Carolina Comandulli, Cristhiano Kolinski, Diogo Oliveira, Flávio Gobbi, Ignácio Unkel, Maria Dorothea Post
              Darella, Maria Lúcia Brandt de Carvalho, Nuno Nunes, Paulo Porto, Rafaela Printes, Rodrigo Venzon, Rodrigo
              Thurler e colaboradores guarani.</p>

            <h5>Bases cartográficas</h5>
            <p>Unidades de Cconservação de Proteção Integral : Ministério do Meio Ambiente (MMA).</p>
            <p>Hidrografia: Agência Nacional de Águas (ANA).</p>
            <p>Limites Políticos: Instituto Brasileiro de Geografia e Estatística (IBGE).</p>

            <h5>Projeto Mapa Yvyrupa: Cartografia digital do Território Guarani</h5>
            <p>Convênio no 811204/2014 entre Centro de Trabalho Indigenista – CTI e Instituto do Patrimônio Histórico e
              Artístico Nacional – IPHAN</p>

            <h5></h5>
            <p></p>

            <p>O Centro de Trabalho Indigenista – CTI é uma organização não-governamental, sem fins lucrativos,
              fundada em março de 1979, constituída por antropólogos e indigenistas com formação qualificada e
              experiência sobre a realidade indígena no Brasil.</p>
            <p>
            <div class="logos">
              <div class="row">
                <div class="col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-1">
                  <a href="http://trabalhoindigenista.org.br/" class="logo-cti">
                    <img src="{% static 'images/logo-CTI.png' %}" alt="Centro de Trabalho Indigenista">
                  </a>
                </div>
                <div class="col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-1">
                  <a href="http://trabalhoindigenista.org.br/" class="logo-yvyrupa">
                    <img src="{% static 'images/logo-yvyrupa.svg' %}" alt="Comissão Guarani Yvyrupá">
                  </a>
                </div>
                <div class="col-sm-5 col-sm-offset-4 col-md-3 col-md-offset-1">
                  <a href="http://www.noruega.org.br/" class="logo-noruega">
                    <img src="{% static 'images/logo-noruega.svg' %}" alt="Embaixada da Noruega">
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-1">
                  <a href="http://portal.iphan.gov.br/" class="logo-iphan">
                    <img src="{% static 'images/logo-iphan.jpg' %}" alt="IPHAN">
                  </a>
                </div>
                <div class="col-sm-5 col-md-offset-2 col-md-4">
                  <a href="http://cultura.gov.br/" class="logo-minc">
                    <img src="{% static 'images/logo-minc.svg' %}" alt="Ministério da Cultura">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock modal %}
