{% load staticfiles i18n %}
{% load leaflet_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Mapa Guarani online{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% compress js %}

    {% endcompress %}

{#    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>#}
{#    {% leaflet_js plugins="ALL" %}#}
{#    {% leaflet_css plugins="ALL" %}#}

{#    <style>#}
{#        .leaflet-container {  /* all maps */#}
{#            width:  600px;#}
{#            height: 600px;#}
{#        }#}

{#    </style>#}
  </head>

  <body>

    <h1>Mapa Guarani Online</h1>


    <script type="text/javascript">
        function main_map_init (map, options) {
            var dataurl = '{% url "villages" %}';
            // Download GeoJSON via Ajax
            $.getJSON(dataurl, function (data) {
                // Add GeoJSON layer
                L.geoJson(data, {
                    onEachFeature: function (feature, layer) {
                        popupOptions = {maxWidth: 200};
                        layer.bindPopup("<b>Aldeia: </b> " + feature.properties.name +
                                        "<br><b>Outros nomes: </b>" + feature.properties.other_names +
                                        "<br><b>Grupo étnico: </b>" + feature.properties.ethnic_groups2 +
                                        "<br><b>População: </b>" + feature.properties.population +
                                        "<br><b>Presença guarani: </b>" + feature.properties.guarani_presence
                                ,popupOptions);
                    }
                }).addTo(map);




            });
        }
    </script>

    {% leaflet_map "main" callback="main_map_init" %}
  </body>
</html>
 
