<div ui-view>
  <section id="clustered-results" ng-show="clustered.length">
    <header id="clustered-header">
      <a ng-click="clearClustered()" href="javascript:void(0);" class="close">x</a>
      <h2>Resultados na região</h2>
    </header>
    <ul class="all list">
      <li guarani-item item="item" class="all item" ng-repeat="item in clustered"></li>
    </ul>
  </section>
  <guarani-list ng-hide="clustered.length" villages="villages" lands="lands" sites="sites" filtered="filtered"></guarani-list>
</div>
