<article class="single">
  <a class="close" ui-sref="home">X</a>
  <span>Aldeia</span>
  <h2>{{data.name}}</h2>
  <table>
    <tbody>
      <tr ng-show="data.other_names">
        <th>Outros nomes</th>
        <td>{{data.other_names}}</td>
      </tr>
      <tr ng-show="data.ethnic_groups.length">
        <th>Grupos étnicos</th>
        <td>{{data.ethnic_groups | listObj:'name'}}</td>
      </tr>
      <tr ng-show="data.prominent_subgroup.length">
        <th>Subgrupo proeminente</th>
        <td>{{data.prominent_subgroup | listObj:'name'}}</td>
      </tr>
      <tr ng-show="data.land">
        <th>Aldeias nesta terra indígena</th>
        <td>
          <p>
            <a ng-href="/#!/lands/{{data.land.id}}/"> {{ data.land.name }}</a>
          </p>
        </td>
      </tr>
      <!-- TODO: Pensar se isso é viável -->
      <!--<tr ng-show="data.land">-->
        <!--<th>Outras Aldeias na mesma terra indígena</th>-->
        <!--<td>-->
          <!--<p>-->
            <!--<a ng-href="/#!/lands/{{data.land.id}}/"> {{ data.land.name }}</a>-->
          <!--</p>-->
        <!--</td>-->
      <!--</tr>-->
      <tr ng-show="data.population">
        <th>População</th>
        <td>{{data.population}}</td>
      </tr>
      <tr>
        <th>Presença Guarani atual</th>
        <td ng-if="data.guarani_presence">Sim</td>
        <td ng-if="!data.guarani_presence">Não</td>
      </tr>
      <tr ng-show="data.position_precision">
        <th>Precisão da localização</th>
        <td>{{data.position_precision}}</td>
      </tr>
      <tr ng-show="data.position_source">
        <th>Fonte da localização</th>
        <td>{{data.position_source}}</td>
      </tr>
      <tr ng-show="data.public_comments">
        <th>Observações</th>
        <td>{{data.public_comments}}</td>
      </tr>
      <!--TODO: exibir apenas para usuarios logados -->
      <!--<tr ng-show="data.private_comments">-->
        <!--<th>Observações (Restritas)</th>-->
        <!--<td>{{data.private_comments}}</td>-->
      <!--</tr>-->
    </tbody>
  </table>
</article>
