<article class="single">
  <a class="close" ui-sref="home">X</a>
  <span>Terra indígena</span>
  <h2>{{data.name}}</h2>
  <table>
    <tbody>
      <tr ng-show="data.other_names">
        <th>Outros nomes</th>
        <td>{{data.other_names}}</td>
      </tr>
      <tr ng-show="data.ethnic_groups.length">
        <th>Grupos étnicos</th>
        <td>{{data.ethnic_groups | listObj:'name'}}</td>
      </tr>
      <tr ng-show="data.prominent_subgroup.length">
        <th>Subgrupo proeminente</th>
        <td>{{data.prominent_subgroup | listObj:'name'}}</td>
      </tr>
      <tr ng-show="data.villages">
        <th>Aldeias nesta terra indígena</th>
        <td>
          <p ng-repeat="village in data.villages">
            <a ng-href="/#!/villages/{{village.id}}/"> {{ village.name }}</a>
          </p>
        </td>
      </tr>
      <tr ng-show="data.protected_areas_integral.length">
        <th>Sobreposição com Unidade de Conservação de Proteção Integral</th>
        <td>
          <p ng-repeat="protected_area in data.protected_areas_integral">
            {{ protected_area.name }}
          </p>
        </td>
      </tr>
      <tr ng-show="data.protected_areas_conservation.length">
        <th>Sobreposição com Unidade de Conservação de Uso Sustentável</th>
        <td>
          <p ng-repeat="protected_area in data.protected_areas_conservation">
            {{ protected_area.name }}
          </p>
        </td>
      </tr>
      <tr ng-show="data.population">
        <th>População total</th>
        <td>{{data.population}}</td>
      </tr>

        <tr ng-show="data.guarani_presence">
        <th>Presença Guarani</th>
        <td>
          <p ng-if="data.guarani_presence">Sim</p>
          <p ng-if="!data.guarani_presence">Não</p>
        </td>
      </tr>

      <tr ng-show="data.land_tenure">
        <th>Situação fundiárea</th>
        <td>{{data.land_tenure.name}}</td>
      </tr>
      <tr ng-if="user.is_authenticated && data.land_tenure_status">
        <th>Status de revisão</th>
        <td>{{data.land_tenure_status.name}}</td>
      </tr>

      <tr ng-if="user.is_authenticated && data.clain">
        <th>Reinvidicação</th>
        <td>{{data.claim}}</td>
      </tr>
      <tr ng-if="user.is_authenticated && data.demand">
        <th>Demanda</th>
        <td>{{data.demand}}</td>
      </tr>
      <tr ng-show="data.official_area">
        <th>Área</th>
        <td>{{data.official_area}} ha</td>
      </tr>
      <!--<tr ng-if="user.is_authenticated && data.calculated_area">-->
        <!--<th>Área calculada pelo polígono</th>-->
        <!--<td>{{data.calculated_area}} ha</td>-->
      <!--</tr>-->
      <tr ng-show="data.guarani_exclusive_possession_area_portion">
        <th>Área em posse exclusiva dos Guaranis</th>
        <td>{{data.guarani_exclusive_possession_area_portion}} ha</td>
      </tr>
      <tr ng-show="data.cities">
        <th>Sobreposição com Municípios</th>
        <td>{{data.cities}}</td>
      </tr>
      <tr ng-show="data.states">
        <th>Estados</th>
        <td>{{data.states}}</td>
      </tr>
      <tr ng-show="data.documents.length>0">
        <th>Documentos</th>
        <td>
          <div ng-repeat="document in data.documents">
            <p><a ng-href="{{document.file}}" target="_blank"> {{ document.description }}</a></p>
          </div>
        </td>
      </tr>
      <tr ng-show="data.source">
        <th>Fonte do polígono</th>
        <td>{{data.source}}</td>
      </tr>
      <tr ng-show="data.public_comments">
        <th>Observações</th>
        <td>{{data.public_comments}}</td>
      </tr>
      <tr ng-if="user.is_authenticated && data.private_comments">
        <th>Observações (Restritas)</th>
        <td>{{data.private_comments}}</td>
      </tr>
    </tbody>
  </table>
</article>
