<article class="single">
  <a class="close" ui-sref="home">X</a>
  <span>Terra indígena</span>
  <h2>{{data.name}}</h2>
  <table>
    <tbody>
      <tr ng-show="data.other_names">
        <th>Outros nomes</th>
        <td>{{data.other_names}}</td>
      </tr>
      <tr ng-show="data.ethnic_groups.length">
        <th>Grupos étnicos</th>
        <td>{{data.ethnic_groups | listObj:'name'}}</td>
      </tr>
      <tr ng-show="data.prominent_subgroup.length">
        <th>Subgrupo proeminente</th>
        <td>{{data.prominent_subgroup | listObj:'name'}}</td>
      </tr>
      <tr ng-show="data.land_tenure">
        <th>Situação fundiárea</th>
        <td>{{data.land_tenure.name}}</td>
      </tr>
      <!--TODO: exibir apenas para usuarios logados -->
      <!--<tr ng-show="data.land_tenure_status">-->
        <!--<th>Status de revisão</th>-->
        <!--<td>{{data.land_tenure_status.name}}</td>-->
      <!--</tr>-->
      <tr ng-show="data.population">
        <th>População</th>
        <td>{{data.population}}</td>
      </tr>
      <tr ng-show="data.official_area">
        <th>Área</th>
        <td>{{data.official_area}}</td>
      </tr>
      <tr ng-show="data.guarani_exclusive_possession_area_portion">
        <th>Área em posse exclusiva dos Guaranis</th>
        <td>{{data.guarani_exclusive_possession_area_portion}}</td>
      </tr>
      <tr ng-show="data.documents.length>0">
        <th>Documentos</th>
        <td>
          <div ng-repeat="document in data.documents">
            <p><a ng-href="{{document.file}}"> {{ document.description }}</a></p>
          </div>
        </td>
      </tr>
      <tr ng-show="data.source">
        <th>Fonte do polígono</th>
        <td>{{data.source}}</td>
      </tr>
      <tr ng-show="data.public_comments">
        <th>Observações</th>
        <td>{{data.public_comments}}</td>
      </tr>
      <!--TODO: exibir apenas para usuarios logados -->
      <!--<tr ng-show="data.private_comments">-->
        <!--<th>Observações (Restritas)</th>-->
        <!--<td>{{data.private_comments}}</td>-->
      <!--</tr>-->
    </tbody>
  </table>
</article>
