<article class="single">
  <a class="close" ui-sref="home">X</a>
  <h2>{{data.name}}</h2>
  <table>
    <tbody>
      <tr ng-show="data.other_names">
        <th>Outros nomes</th>
        <td>{{data.other_names}}</td>
      </tr>
      <tr ng-show="data.ethnic_groups.length">
        <th>Grupos étnicos</th>
        <td>{{data.ethnic_groups | listObj:'name'}}</td>
      </tr>
      <tr ng-show="data.prominent_subgroup.length">
        <th>Subgrupo de destaque</th>
        <td>{{data.prominent_subgroup | listObj:'name'}}</td>
      </tr>
      <tr ng-show="data.land_tenure">
        <th>Posse</th>
        <td>{{data.land_tenure.name}}</td>
      </tr>
      <tr ng-show="data.land_tenure_status">
        <th>Situação da posse</th>
        <td>{{data.land_tenure_status.name}}</td>
      </tr>
      <tr ng-show="data.population">
        <th>População</th>
        <td>{{data.population}}</td>
      </tr>
      <tr ng-show="data.guarani_presence">
        <th>Presença Guarani</th>
        <td>{{data.guarani_presence}}</td>
      </tr>
    </tbody>
  </table>
</article>
