<article class="single">
  <a class="close" ui-sref="home">X</a>
  <span>Sítio arqueológico</span>
  <h2>{{ data.name }}</h2>
  <table>
    <tbody>
      <tr ng-show="data.cnsa">
        <th>CNSA</th>
        <td>{{ data.cnsa }}</td>
      </tr>
      <tr ng-show="data.position_precision">
        <th>Precisão da posição</th>
        <td ng-if="data.position_precision == 'exact'">Exata</td>
        <td ng-if="data.position_precision == 'estimated'">Estimada</td>
        <td ng-if="data.position_precision == 'by_city'">Por cidade</td>
        <td ng-if="data.position_precision == 'no_position'">Sem posição</td>
      </tr>
      <tr ng-show="data.position_comments">
        <th>Observações sobre a posiçao</th>
        <td>{{ data.position_comments }}</td>
      </tr>
      <tr ng-show="data.biblio_references">
        <th>Referências</th>
        <td>{{ data.biblio_references }}</td>
      </tr>
      <tr ng-show="data.projects.length">
        <th>Projetos</th>
        <td>
            <div ng-repeat="project in data.projects">
              <p><a ng-href="/#!/project/{{project.id}}"> {{project.name}} </a></p>
            </div>
        </td>
      </tr>
    </tbody>
  </table>
</article>
