{% load staticfiles i18n %}
<div class="modal fade" id="reportsModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Relatórios sobre as Terras Indígenas</h4>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" id="aboutTabs">
          <li class="active"><a href="#tijuridic" data-toggle="tab">Quadro Resumo</a></li>
          <li><a href="#titable" data-toggle="tab">Downloads</a></li>
        </ul>
        <div class="tab-content" id="aboutTabsContent">
          <div id="tijuridic"
               ng-controller="LandTenureReportCtrl"
               class="tab-pane fade active in">
            <h3 class="text-center">Quadro Resumo da Presença dos Povos Guarani no Brasil</h3>
            <br>
            <table class="table">
              <thead>
                <tr>
                  <th colspan="13" class="text-center"><strong>Terras Indígenas com presença dos povos Guarani</strong></th>
                </tr>
                <tr>
                  <th></th>
                  <th>Descrição</th>
                  <th>Total</th>
                  <th ng-repeat="state in report.states" ng-bind="state"></th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td></td>
                  <td><strong>TIs com Uso Exclusivo dos Guarani</strong></td>
                  <td ng-bind="report.exclusive_guarani_lands_count"></td>
                  <td ng-repeat="state in report.states" ng-bind="report.exclusive_guarani_lands[state]"></td>
                </tr>
                <tr ng-repeat="tenure in tenures">
                  <td><span ng-style="{'color': t.map_color || 'transparent'}">&#x2b24;</span></td>
                  <td ng-bind="tenure.name"></td>
                  <td ng-bind="tenure.total_lands_count"></td>
                  <td ng-repeat="state in report.states" ng-bind="tenure[state]"></td>
                </tr>
                <tr>
                  <td><span style="color: transparent;">&#x2b24;</span></td>
                  <td colspan="12"></td>
                </tr>
                <tr ng-repeat="tenure in tenures_2nd_block">
                  <td><span ng-style="{'color': t.map_color || 'transparent'}">&#x2b24;</span></td>
                  <td ng-bind="tenure.name"></td>
                  <td ng-bind="tenure.total_lands_count"></td>
                  <td ng-repeat="state in report.states" ng-bind="tenure[state]"></td>
                </tr>

                <tr>
                  <td><span style="color: transparent;">&#x2b24;</span></td>
                  <td colspan="12"></td>
                </tr>
                <tr>
                  <td></td>
                  <td><strong>TIs de Outros povos com Presença Guarani</strong></td>
                  <td ng-bind="report.non_exclusive_guarani_lands_count"></td>
                  <td ng-repeat="state in report.states" ng-bind="report.non_exclusive_guarani_lands[state]"></td>
                </tr>
                <tr>
                  <td><span style="color: transparent;">&#x2b24;</span></td>
                  <td colspan="12"></td>
                </tr>

                <tr>
                  <th></th>
                  <th>Total Geral</th>
                  <th ng-bind="report.guarani_lands_count"></th>
                  <th ng-repeat="state in report.states" ng-bind="report.guarani_lands[state]"></th>
                </tr>

                <tr>
                  <td><span style="color: transparent;">&#x2b24;</span></td>
                  <td colspan="12"></td>
                </tr>

                <tr>
                  <td><span style="color: transparent;">&#x2b24;</span></td>
                  <td colspan="12" class="text-center"><strong>Aldeia dos povos Guarani</strong></td>
                </tr>
                <tr>
                  <th></th>
                  <th>Descrição</th>
                  <th>Total</th>
                  <th ng-repeat="state in report.states" ng-bind="state"></th>
                </tr>

                <tr>
                  <td></td>
                  <td>Aldeias Atualmente Ocupadas</td>
                  <td ng-bind="report.guarani_presence_count"></td>
                  <td ng-repeat="state in report.states" ng-bind="report.guarani_presence[state]"></td>
                </tr>
                <tr>
                  <td></td>
                  <td>Antigas aldeias, locais de uso ou áreas esbulhada (Dentro de TIs Reconhecidas*)</td>
                  <td ng-bind="report.no_guarani_presence_inside_land_count"></td>
                  <td ng-repeat="state in report.states" ng-bind="report.no_guarani_presence_inside_land[state]"></td>
                </tr>
                <tr>
                  <td></td>
                  <td>Antigas aldeias, locais de uso ou áreas esbulhada (Fora de TIs Reconhecidas*)</td>
                  <td ng-bind="report.no_guarani_presence_outside_land_count"></td>
                  <td ng-repeat="state in report.states" ng-bind="report.no_guarani_presence_outside_land[state]"></td>
                </tr>
                <tr>
                  <td></td>
                  <td>Antigas aldeias, locais de uso ou áreas esbulhada (Total)</td>
                  <td ng-bind="report.no_guarani_presence_count"></td>
                  <td ng-repeat="state in report.states" ng-bind="report.no_guarani_presence[state]"></td>
                </tr>
              </tbody>
            </table>
            <p><small>* Estão sendo chamadas TIs Reconhecidas todas aquelas já delimitadas pela Funai, as Declaradas, as Homologadas e as Regularizadas</small></p>
          </div>

          <div id="titable" class="tab-pane fade">
            <p class="text-center">Você pode baixar a planilha das terras indigenas, e os shapefiles das camadas de Aldeias e Terras Indígenas</p>
            <p class="text-center">A geração destes arquivos pode demorar vários minutos, por favor aguarde o download começar após clicar abaixo no arquivo abaixo desejado.</p>

            <p class="lead text-left">
              Arquivos Terras Indígenas
              <a class="btn btn-lg btn-success" href="{% url 'export_xls_lands' %}.xls">baixar Planilha Excel</a>
              {% if user.is_authenticated %}
              <a class="btn btn-lg btn-success" href="{% url 'lands_shapefiles' %}">baixar Shapefile</a>
              {% endif %}
            </p>

            <p class="lead text-left">
              Arquivos Aldeias Indígenas
              <a class="btn btn-lg btn-success" href="{% url 'export_xls_villages' %}.xls">baixar Planilha Excel</a>
              {% if user.is_authenticated %}
              <a class="btn btn-lg btn-success" href="{% url 'villages_shapefiles' %}">baixar Shapefile</a>
              {% endif %}
            </p>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
