<div class="guarani-list-item">
  <h3><a ng-href="{{item.url}}" title="{{item.name}}">{{item.name}}</a></h3>
  <table>
    <tbody>
      <tr ng-show="item.other_names">
        <th>Outros nomes</th>
        <td>{{item.other_names}}</td>
      </tr>
      <tr ng-show="item.ethnic_groups.length">
        <th>Grupos étnicos</th>
        <td>{{item.ethnic_groups | listObj:'name'}}</td>
      </tr>
      <tr ng-show="item.prominent_subgroup.length">
        <th>Subgrupo de destaque</th>
        <td>{{item.prominent_subgroup | listObj:'name'}}</td>
      </tr>
      <tr ng-show="item.land_tenure">
        <th>Posse</th>
        <td>{{item.land_tenure.name}}</td>
      </tr>
      <tr ng-show="item.land_tenure_status">
        <th>Situação da posse</th>
        <td>{{item.land_tenure_status.name}}</td>
      </tr>
      <!--<tr ng-show="item.population">-->
        <!--<th>População</th>-->
        <!--<td>{{item.population}}</td>-->
      <!--</tr>-->
      <tr ng-show="item.guarani_presence">
        <th>Presença Guarani</th>
        <td>
          <p ng-if="item.guarani_presence.presence">Sim</p>
          <p ng-if="!item.guarani_presence.presence">Não</p>
          <p ng-if="item.guarani_presence.source">
            Fonte: {{item.guarani_presence.source}} <span ng-if="item.guarani_presence.date">({{item.guarani_presence.date | date :'yyyy'}})</span>
          </p>
        </td>
        <!-- Archaeological Sites related fields -->
        <tr ng-show="item.cnsa">
          <th>CNSA</th>
          <td>{{ item.cnsa }}</td>
        </tr>
        <tr ng-show="item.position_precision">
          <th>Precisão da posição</th>
          <td>{{ item.position_precision }}</td>
        </tr>
        <tr ng-show="item.position_comments">
          <th>Observações sobre a posiçao</th>
          <td>{{ item.position_comments }}</td>
        </tr>
        <tr ng-show="item.biblio_references">
          <th>Referências</th>
          <td>{{ item.biblio_references }}</td>
        </tr>
      </tr>
    </tbody>
  </table>
</div>
