// fix modal z-index

.modal {
  z-index: 9999;
}

#aboutModal {
  .tab-content {
    padding: 30px 20px 20px;
    p {
      line-height: 160%;
      margin-bottom: 15px;
    }
    h4, h5 {
      margin: 15px 0;
    }
    img {
      margin: 15px 0;
      width: 100%;
      @media screen and (min-width: $screen-xs-max + 1px) {
        max-width: 250px;
        &.logo-yvyrupa {
          max-width: 140px;
        }
      }
    }
  }
}