$icon-font-path: "../../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  .map-container {
    height: 100%;
  }
}
body {
  // padding-top: 50px;
}
a {
  color: #eac367;
}
a:hover,
a:focus {
  color: #c19a3c;
}
input[type="radio"], input[type="checkbox"] {
  margin: 0;
}
.navbar-fixed-top {
  background: transparent;
}
#sidebar {
  position: absolute;
  width: 28%;
  height: 86%;
  margin: 65px 15px;
  max-width: 650px;
  overflow: auto;
  z-index: 10;
  -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  pointer-events: none;
  .nav > li > a {
    padding: 10px 5px;
  }
  #sidebar-main-content {
    pointer-events: auto;
    background: #fff;
    ul.content-list {
      list-style: none;
      margin: 0;
      padding: 0;
      li.content-item {
        margin: 0;
        padding: 20px;
        border-bottom: 1px solid #ccc;
        h2 {
          margin: 0;
          padding: 0;
          line-height: 1;
          font-size: 16px;
          font-weight: 600;
          color: #666;
          a {
            color: inherit;
            text-decoration: none;
          }
        }
        &.active {
          h2 {
            color: #111;
          }
        }
        .actions {
          float: right;
          margin: 0;
          a {
            color: #666;
            margin-left: 10px;
            font-size: 18px;
            &:hover {
              color: #333;
              text-decoration: none;
            }
          }
        }
        .content-item-body {
          height: 0;
          position: relative;
          overflow: auto;
          transition: all .4s ease-in-out;
          -webkit-transition: all .4s ease-in-out;
          -moz-transition: all .4s ease-in-out;
          -o-transition: all .4s ease-in-out;
          background: #f6f6f6;
          margin: 0 -20px -20px -20px;
          padding: 20px;
          &.active {
            margin-top: 20px;
          }
        }
      }
    }
  }
  #sidebar-filters {
    margin: 15px;
    input {
      width: 100%;
    }
  }
  .sidebar-pagination {
    margin: 0 15px 15px;
  }
  .list {
    list-style: none;
    margin: 0;
    padding: 0;
    .item {
      margin: 0;
      padding: 20px 0;
      border-bottom: 1px solid #ddd;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -o-border-radius: 4px;
      h3 {
        margin: 0 0 15px;
      }
    }
  }
  article.single {
    margin: 0 15px;
  }
}
#map {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  .leaflet-left {
    left: 30%;
    .leaflet-control {
      margin-left: 20px;
    }
  }
  .leaflet-right .leaflet-control {
    margin-right: 15px;
  }
  .leaflet-top {
    top: 65px;
    .leaflet-control {
      margin-top: 0;
    }
  }
  .leaflet-google-layer.leaflet-left.leaflet-top {
    top: 0;
    left: 0;
  }
  .leaflet-control-layers {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    box-shadow: 0 0 0;
    -moz-box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
    -o-box-shadow: 0 0 0;
  }
  .village-guarani-marker {
    background: #e7ec13;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
  }
  .village-other-marker {
    background: #f57a14;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
  }
  .site-marker {
    background: gray;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
  }
  .leaflet-div-icon {

  }
  .marker-cluster {
    background: transparent;
    &:before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 12px;
      left: 12px;
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -o-border-radius: 100%;
    }
    div {
      width: 20px;
      height: 20px;
      margin-top: 10px;
      margin-left: 10px;
      box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
      position: relative;
      z-index: 3;
      span {
        line-height: 20px;
      }
    }
  }
}
.marker-cluster.villages-cluster {
  &:before {
    background: #f57a14;
  }
  div {
    background: #e7ec13;
  }

}
.marker-cluster.sites-cluster {
  &:before {
    background: lightgray;
  }
  div {
    background: darken(lightgray, 10%);
  }
}
#loading {
  position: absolute;
  width: 220px;
  height: 19px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -110px;
  z-index: 20001;
}

.legend {
  line-height: 18px;
  color: #555;
  background-color: white;
  opacity: 0.8;
  padding: 10px;
  i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
  //  opacity: 0.7;
  }
}

.navbar .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  text-transform: uppercase;
  letter-spacing: -1px;
}
.navbar-collapse.in {
  overflow-y: hidden;
}
.navbar-header .navbar-icon-container {
  margin-right: 15px;
}
.navbar-header .navbar-icon {
  line-height: 50px;
  height: 50px;
}
.navbar-header a.navbar-icon {
  margin-left: 25px;
}
.navbar-nav a {
  background: #fff;
}


// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error
.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-warning {
  color: black;
  background-color: orange;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}
