$icon-font-path: "../../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  .map-container {
    height: 100%;
  }
}
body {
  padding-top: 50px;
}
input[type="radio"], input[type="checkbox"] {
  margin: 0;
}
#sidebar {
  width: 30%;
  height: 100%;
  max-width: 100%;
  float: left;
  overflow: auto;
  position: relative;
  -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  #sidebar-main-nav {
    ul {
      list-style: none;
      display: table;
      margin: 0;
      padding: 0;
      width: 100%;
      border-bottom: 1px solid #ccc;
      li {
        margin: 0;
        padding: 10px;
        display: table-cell;
        text-align: center;
        border-right: 1px solid #ccc;
        cursor: pointer;
        width: 1%;
        &:last-child {
          border-right: 0;
        }
        &:hover {
          color: #000;
          background: #f0f0f0;
        }
        &.active {
          font-weight: 600;
        }
      }
    }
  }
  #sidebar-filters {
    margin: 10px;
    input {
      width: 100%;
    }
  }
}
#map {
  width: auto;
  height: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#loading {
  position: absolute;
  width: 220px;
  height: 19px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -110px;
  z-index: 20001;
}

.legend {
  line-height: 18px;
  color: #555;
  background-color: white;
  opacity: 0.8;
  padding: 10px;
  i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
  //  opacity: 0.7;
  }
}

.navbar .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: #FFFFFF;
}
.navbar-collapse.in {
  overflow-y: hidden;
}
.navbar-header .navbar-icon-container {
  margin-right: 15px;
}
.navbar-header .navbar-icon {
  line-height: 50px;
  height: 50px;
}
.navbar-header a.navbar-icon {
  margin-left: 25px;
}


// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error
.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-warning {
  color: black;
  background-color: orange;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}
